<h1>The book is</h1>
<hr>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Authors</th>
            <th>Description</th>

        </tr>
    </thead>
    <tbody></tbody>
    <% 
        const title = book['title'];
        const authors = book['authors'];
        const description = book['shortDescription'];



         %>
      <tr class="mb-2"> 

        <td>
            <a href="/books/show/<%=book._id %>">
            <%=  book['title'] %>


            </a>
        </td>

        <td>
            <%=  book['authors'] %>  

            </a>
        </td>

        <td>
            ( <%=  book['shortDescription'] %>) 

            </a>
        </td>





    </tr>
    </tbody>
</table>

<pre>

</pre>